/*---- Footer ----*/
.footer {
	width: 100%;
	height: 24px;
	display: flex;
	flex-direction: row-reverse;
	position: relative;
}

.footer__info {
	width: 231px;
	color: #C4C4C4;
	position: relative;
	bottom: 105px;
}

.footer__info p, a {
	margin-bottom: 8px;
}

.footer__info a {
	display: block;
	color: #C4C4C4;
}

.footer__info a:hover {
	color: #256eebc7;
}

.footer__info_product {
	height: 142px;
	bottom: 0;
}

@media (max-width: 991px) {
	.footer__info {
		width: 212px;
	}
}

@media (max-width: 811px) {
	.footer {
		height: 100%;
		justify-content: center;
		padding-bottom: 15px;
		text-align: center;
	}

	.footer__info {
		position: static;
	}
}

/*---- Footer end ----*/