* {
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 16px;
	color: #0A143A;
}

h3 {
	font-size: 24px;
	line-height: 28px;
}

h4 {
	font-size: 18px;
	line-height: 21px;
}

h5 {
	font-size: 16px;
	line-height: 19px;
}

a {
	cursor: pointer;
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
	padding: 12px 12px 0 12px;
}

.btn {
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/*---- Search ----*/
.search {
	height: 50px;
	padding: 3px;
	margin-bottom: 42px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	background: #256EEB;
}

.search input {
	height: 44px;
	flex-grow: 1;
	padding-left: 21px;
	border: none;
	border-radius: 5px;
	outline: none;
}

.searchBtn {
	min-width: 95px;
	display: flex;
	align-items: center;
	background: #256EEB;
}

.search h5 {
	display: inline;
	margin-left: 2px;
	font-weight: normal;
}

/*---- Search end ----*/
/*---- Content ----*/
.content {
	display: flex;
	justify-content: space-between;
	min-height: 585px;
}

.content-main h3 {
	margin-bottom: 25px;
	display: block;
}

.content-main__list {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	max-width: 882px;
}

/*---- Services ----*/
.content-services {
	min-width: 230px;
}

.content-services h4 {
	margin-bottom: 20px;
}

.content-services__list {
	max-width: 231px;
	margin-bottom: 36px;
}

.line {
	width: 100%;
	border-bottom: 1px solid #E5E5E5;
}

/*---- Content end ----*/
/*---- Product page ----*/
.contend-product {
	display: flex;
	width: 885px;
}

.product__descript {
	max-width: 460px;
	margin-right: 30px;
}

.product__descript > h3 {
	margin-bottom: 25px;
}

.product__descript > img {
	width: 100%;
	margin-bottom: 20px;
}

.product__photo {
	width: 100px;
	margin-bottom: 20px;
}

.product__text {
	line-height: 140%;
}

.product__offer {
	flex-grow: 1;
}

.offer__price {
	margin-bottom: 25px;
}

.offer__btn {
	width: 264px;
	height: 54px;
	color: white;
	background-color: #256EEB;
}

.offer__btn:hover {
	background-color: #256eebc7;
}

/*---- End product page ----*/
/*---- @media ----*/
@media (max-width: 1136px) {
	.content-main__list {
		justify-content: space-evenly;
	}
}

@media (max-width: 1050px) {
	.contend-product {
		flex-direction: column;
		align-items: center;
	}

	.product__offer {
		display: flex;
		justify-content: center;
		gap: 120px;
	}

	.product__descript {
		margin-bottom: 20px;
	}
}

@media (max-width: 991px) {
	.content {
		margin-bottom: 20px;
	}

	.content-main > h3 {
		margin-top: 0;
	}
}

@media (max-width: 811px) {

	/*---- Content ----*/
	.content {
		flex-direction: column;
	}

	.content-main {
		margin: 0 0 15px 30px;
	}

	.content-main__list {
		justify-content: space-evenly;
	}

	/*---- Servises ----*/
	.content-services {
		width: 100%;
	}

	.content-services h4 {
		text-align: center;
	}

	.content-services__list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		max-width: 100%;
		margin-bottom: 0;
	}

	.line {
		margin-bottom: 20px;
	}

	/*---- product ----*/
	.contend-product {
		width: auto;
		margin-bottom: 50px;
	}

	.product__descript {
		margin-right: 0;
	}

	.product__descript > h3 {
		text-align: center;
	}
}

@media (max-width:576px) {
	.wrap {
		padding: 12px 25px;
	}

	.searchBtn {
		min-width: 72px;
		padding: 10px 5px;
	}

	.content-services__list {
		flex-direction: column;
		margin-left: 15px;
	}

	.content-services h4 {
		text-align: start;
	}

	.product__offer {
		flex-direction: column;
		gap: 0;
	}

	.offer__price {
		margin-bottom: 20px;
	}
}